/* All fonts here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Global utilities style */
* {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  width: 1163px;
  margin: 0 auto;
}

/* --------------------------------------------------------------------------------------------
----------------------------------- Main CSS Start from here ------------------------------  */

/* Header Banner section */
#header-section {
  width: 100%;
  background-color: #303763;
  overflow: hidden;
  padding-bottom: 86px;
}
.banner-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}
.left-banner-text {
  margin-right: 102px;
  margin-top: 50px;
  z-index: 1;
}
.left-banner-text .header-title {
  width: 485px;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  line-height: 80px;
}
.btn {
  display: inline-block;
  text-align: center;
  margin-top: 27px;
  color: #fff;
}
.btn a {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding: 10px 0;
  width: 168px;
  background-color: #fd4080;
  transition: 0.3s ease-in-out;
}
.btn a:hover {
  background-color: #b9124a;
}
.btn a i {
  display: inline-block;
  margin-left: 8px;
  font-size: 14px;
}
.right-banner-img {
  z-index: 1;
  transition: transform 0.4s;
}

/* ========================= */

/* Hover */
#header-section:hover .right-banner-img {
  transform: scale(1.2) translate(0, 30px);
}

/* Animation */
.header-title {
  animation: header-animation 3s ease-in-out 1;
}
@keyframes header-animation {
  0% {
    opacity: 0;
    transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    transform: translate(30px, 0px);
  }
  80% {
    transform: translate(-30px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

/* Player Grid Article section  */
#player-blogs {
  overflow: hidden;
  width: 100%;
}
.player-container {
  width: 1050px;
  margin: 0 auto;
  overflow: hidden;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 27px;
  margin-top: 70px;
}
.blog-item {
  padding: 15px 12px 33px 12px;
  border: 1px solid rgb(226, 226, 226);
  box-shadow: 0px 0px 20px 0px #00000026;
}
.blog-img {
  text-align: center;
}
.blog-img img {
  width: 100%;
  display: inline-block;
  margin-bottom: 16px;
}
.blog-info .blog-title {
  font-size: 28px;
  font-weight: 700;
}
.blog-info .blog-details {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* Match highlights section */
#highlight-section {
  margin-top: 165px;
}
.highlight-wrap {
  display: flex;
  justify-content: space-between;
}
.left-h-content {
  margin-left: 20px;
}
.right-h-img {
  margin-right: 30px;
}
.left-h-content h2 {
  width: 470px;
  font-size: 48px;
  font-weight: 700;
  margin-top: 8px;
}
.left-h-content p {
  width: 400px;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.right-h-img img {
  width: 500px;
}

/* Tournament section */
#tournament-section {
  margin-top: 150px;
  height: 95vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/tournament-bg.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.tournament-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.t-title {
  max-width: 625px;
  text-align: center;
}
.t-title h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
.t-title p {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}
.t-buttons {
  margin-top: 20px;
}
.tournament-btn a {
  margin-right: 20px;
  border-radius: 4px;
}

/* Partnership section */
#partnership-section {
  background-color: rgb(241, 241, 241);
  padding: 100px 0;
}
.partnarship-wrap p::before {
  content: "";
  border-left: 6px solid #fd4080;
  border-image: linear-gradient(#fd4080, #b80742);
  border-image-slice: 1;
  margin-right: 5px;
}
.partnarship-wrap p {
  color: #555;
  font-size: 30px;
  font-weight: 500;
}
.partnerships {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-auto-flow: dense;
  grid-row-gap: 40px;
}
.partanership-item img {
  width: 100%;
}
/* Footer section */
#footer-section {
  margin-top: 50px;
  padding: 63px 0;
  overflow: hidden;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-logo {
  margin-bottom: 20px;
}
.footer-wrap .f-social {
  margin-bottom: 20px;
}
.footer-wrap .f-social a {
  background-color: #ddd;
  color: gray;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  line-height: 34px;
  transition: 0.2s ease-in-out;
  margin-right: 14px;
}
.f-social a:hover {
  background-color: rgb(253, 64, 128);
  color: #fff;
  opacity: 0.8;
}
.f-copyright {
  font-size: 18px;
  font-weight: 400;
}
